# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/
datasets/raw/
datasets/processed/
*.csv
*.xlsx
*.h5
*.hdf5
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
